# Node.js
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.next
out
dist
coverage
.DS_Store

# Next.js build output
.next/
out/
build/

# React
*.log
*.cache
*.env
*.env.*
*.local
*.test.*
*.spec.*
*.coverage
*.eslintcache

# Docker
docker-compose.override.yml
docker-compose.local.yml
docker-compose.dev.yml
docker-compose.prod.yml
.docker/
*.tar
*.img
*.pid

# Docker Compose
.env.docker
.env.compose
docker-data/
volumes/
tmp/
logs/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.o
*.a
*.cgo1.go
*.cgo2.c
*.cgo3.c
*.cgo4.c
*.cgo5.c
*.cgo6.c
*.cgo7.c
*.cgo8.c
*.cgo9.c
*.cgo10.c
*.cgo11.c
*.cgo12.c
*.cgo13.c
*.cgo14.c
*.cgo15.c
*.cgo16.c
*.cgo17.c
*.cgo18.c
*.cgo19.c
*.cgo20.c
*.cgo21.c
*.cgo22.c
*.cgo23.c
*.cgo24.c
*.cgo25.c
*.cgo26.c
*.cgo27.c
*.cgo28.c
*.cgo29.c
*.cgo30.c
*.cgo31.c
*.cgo32.c
*.cgo33.c
*.cgo34.c
*.cgo35.c
*.cgo36.c
*.cgo37.c
*.cgo38.c
*.cgo39.c
*.cgo40.c
*.cgo41.c
*.cgo42.c
*.cgo43.c
*.cgo44.c
*.cgo45.c
*.cgo46.c
*.cgo47.c
*.cgo48.c
*.cgo49.c
*.cgo50.c
*.cgo51.c
*.cgo52.c
*.cgo53.c
*.cgo54.c
*.cgo55.c
*.cgo56.c
*.cgo57.c
*.cgo58.c
*.cgo59.c
*.cgo60.c
*.cgo61.c
*.cgo62.c
*.cgo63.c
*.cgo64.c
*.cgo65.c
*.cgo66.c
*.cgo67.c
*.cgo68.c
*.cgo69.c
*.cgo70.c
*.cgo71.c
*.cgo72.c
*.cgo73.c
*.cgo74.c
*.cgo75.c
*.cgo76.c
*.cgo77.c
*.cgo78.c
*.cgo79.c
*.cgo80.c
*.cgo81.c
*.cgo82.c
*.cgo83.c
*.cgo84.c
*.cgo85.c
*.cgo86.c
*.cgo87.c
*.cgo88.c
*.cgo89.c
*.cgo90.c
*.cgo91.c
*.cgo92.c
*.cgo93.c
*.cgo94.c
*.cgo95.c
*.cgo96.c
*.cgo97.c
*.cgo98.c
*.cgo99.c
*.cgo100.c
*.cgo101.c
*.cgo102.c
*.cgo103.c
*.cgo104.c
*.cgo105.c
*.cgo106.c
*.cgo107.c
*.cgo108.c
*.cgo109.c
*.cgo110.c
*.cgo111.c
*.cgo112.c
*.cgo113.c
*.cgo114.c
*.cgo115.c
*.cgo116.c
*.cgo117.c
*.cgo118.c
*.cgo119.c
*.cgo120.c
*.cgo121.c
*.cgo122.c
*.cgo123.c
*.cgo124.c
*.cgo125.c
*.cgo126.c
*.cgo127.c
*.cgo128.c
*.cgo129.c
*.cgo130.c
*.cgo131.c
*.cgo132.c
*.cgo133.c
*.cgo134.c
*.cgo135.c
*.cgo136.c
*.cgo137.c
*.cgo138.c
*.cgo139.c
*.cgo140.c
*.cgo141.c
*.cgo142.c
*.cgo143.c
*.cgo144.c
*.cgo145.c
*.cgo146.c
*.cgo147.c
*.cgo148.c
*.cgo149.c
*.cgo150.c
*.cgo151.c
*.cgo152.c
*.cgo153.c
*.cgo154.c
*.cgo155.c
*.cgo156.c
*.cgo157.c
*.cgo158.c
*.cgo159.c
*.cgo160.c
*.cgo161.c
*.cgo162.c
*.cgo163.c
*.cgo164.c
*.cgo165.c
*.cgo166.c
*.cgo167.c
*.cgo168.c
*.cgo169.c
*.cgo170.c
*.cgo171.c
*.cgo172.c
*.cgo173.c
*.cgo174.c
*.cgo175.c
*.cgo176.c
*.cgo177.c
*.cgo178.c
*.cgo179.c
*.cgo180.c
*.cgo181.c
*.cgo182.c
*.cgo183.c
*.cgo184.c
*.cgo185.c
*.cgo186.c
*.cgo187.c
*.cgo188.c
*.cgo189.c
*.cgo190.c
*.cgo191.c
*.cgo192.c
*.cgo193.c
*.cgo194.c
*.cgo195.c
*.cgo196.c
*.cgo197.c
*.cgo198.c
*.cgo199.c
*.cgo200.c
*.cgo201.c
*.cgo202.c
*.cgo203.c
*.cgo204.c
*.cgo205.c
*.cgo206.c
*.cgo207.c
*.cgo208.c
*.cgo209.c
*.cgo210.c
*.cgo211.c
*.cgo212.c
*.cgo213.c
*.cgo214.c
*.cgo215.c
*.cgo216.c
*.cgo217.c
*.cgo218.c
*.cgo219.c
*.cgo220.c
*.cgo221.c
*.cgo222.c
*.cgo223.c
*.cgo224.c
*.cgo225.c
*.cgo226.c
*.cgo227.c
*.cgo228.c
*.cgo229.c
*.cgo230.c
*.cgo231.c
*.cgo232.c
*.cgo233.c
*.cgo234.c
*.cgo235.c
*.cgo236.c
*.cgo237.c
*.cgo238.c
*.cgo239.c
*.cgo240.c
*.cgo241.c
*.cgo242.c
*.cgo243.c
*.cgo244.c
*.cgo245.c
*.cgo246.c
*.cgo247.c
*.cgo248.c
*.cgo249.c
*.cgo250.c
*.cgo251.c
*.cgo252.c
*.cgo253.c
*.cgo254.c
*.cgo255.c
*.cgo256.c
*.cgo257.c
*.cgo258.c
*.cgo259.c
*.cgo260.c
*.cgo261.c
*.cgo262.c
*.cgo263.c
*.cgo264.c
*.cgo265.c
*.cgo266.c
*.cgo267.c
*.cgo268.c
*.cgo269.c
*.cgo270.c
*.cgo271.c
*.cgo272.c
*.cgo273.c
*.cgo274.c
*.cgo275.c
*.cgo276.c
*.cgo277.c
*.cgo278.c
*.cgo279.c
*.cgo280.c
*.cgo281.c
*.cgo282.c
*.cgo283.c
*.cgo284.c
*.cgo285.c
*.cgo286.c
*.cgo287.c
*.cgo288.c
*.cgo289.c
*.cgo290.c
*.cgo291.c
*.cgo292.c
*.cgo293.c
*.cgo294.c
*.cgo295.c
*.cgo296.c
*.cgo297.c
*.cgo298.c
*.cgo299.c
*.cgo300.c
*.cgo301.c
*.cgo302.c
*.cgo303.c
*.cgo304.c
*.cgo305.c
*.cgo306.c
*.cgo307.c
*.cgo308.c
*.cgo309.c
*.cgo310.c
*.cgo311.c
*.cgo312.c
*.cgo313.c
*.cgo314.c
*.cgo315.c
*.cgo316.c
*.cgo317.c
*.cgo318.c
*.cgo319.c
*.cgo320.c
*.cgo321.c
*.cgo322.c
*.cgo323.c
*.cgo324.c
*.cgo325.c
*.cgo326.c
*.cgo327.c
*.cgo328.c
*.cgo329.c
*.cgo330.c
*.cgo331.c
*.cgo332.c
*.cgo333.c
*.cgo334.c
*.cgo335.c
*.cgo336.c
*.cgo337.c
*.cgo338.c
*.cgo339.c
*.cgo340.c
*.cgo341.c
*.cgo342.c
*.cgo343.c
*.cgo344.c
*.cgo345.c
*.cgo346.c
*.cgo347.c
*.cgo348.c
*.cgo349.c
*.cgo350.c
*.cgo351.c
*.cgo352.c
*.cgo353.c
*.cgo354.c
*.cgo355.c
*.cgo356.c
*.cgo357.c
*.cgo358.c
*.cgo359.c
*.cgo360.c
*.cgo361.c
*.cgo362.c
*.cgo363.c
*.cgo364.c
*.cgo365.c
*.cgo366.c
*.cgo367.c
*.cgo368.c
*.cgo369.c
*.cgo370.c
*.cgo371.c
*.cgo372.c
*.cgo373.c
*.cgo374.c
*.cgo375.c
*.cgo376.c
*.cgo377.c
*.cgo378.c
*.cgo379.c
*.cgo380.c
*.cgo381.c
*.cgo382.c
*.cgo383.c
*.cgo384.c
*.cgo385.c
*.cgo386.c
*.cgo387.c
*.cgo388.c
*.cgo389.c
*.cgo390.c
*.cgo391.c
*.cgo392.c
*.cgo393.c
*.cgo394.c
*.cgo395.c
*.cgo396.c
*.cgo397.c
*.cgo398.c
*.cgo399.c
*.cgo400.c
*.cgo401.c
*.cgo402.c
*.cgo403.c
*.cgo404.c
*.cgo405.c
*.cgo406.c
*.cgo407.c
*.cgo408.c
*.cgo409.c
*.cgo410.c
*.cgo411.c
*.cgo412.c
*.cgo413.c
*.cgo414.c
*.cgo415.c
*.cgo416.c
*.cgo417.c
*.cgo418.c
*.cgo419.c
*.cgo420.c
*.cgo421.c
*.cgo422.c
*.cgo423.c
*.cgo424.c
*.cgo425.c
*.cgo426.c
*.cgo427.c
*.cgo428.c
*.cgo429.c
*.cgo430.c
*.cgo431.c
*.cgo432.c
*.cgo433.c
*.cgo434.c
*.cgo435.c
*.cgo436.c
*.cgo437.c
*.cgo438.c
*.cgo439.c
*.cgo440.c
*.cgo441.c
*.cgo442.c
*.cgo443.c
*.cgo444.c
*.cgo445.c
*.cgo446.c
*.cgo447.c
*.cgo448.c
*.cgo449.c
*.cgo450.c
*.cgo451.c
*.cgo452.c
*.cgo453.c
*.cgo454.c
*.cgo455.c
*.cgo456.c
*.cgo457.c
*.cgo458.c
*.cgo459.c
*.cgo460.c
*.cgo461.c
*.cgo462.c
*.cgo463.c
*.cgo464.c
*.cgo465.c
*.cgo466.c
*.cgo467.c
*.cgo468.c
*.cgo469.c
*.cgo470.c
*.cgo471.c
*.cgo472.c
*.cgo473.c
*.cgo474.c
*.cgo475.c
*.cgo476.c
*.cgo477.c
*.cgo478.c
*.cgo479.c
*.cgo480.c
*.cgo481.c
*.cgo482.c
*.cgo483.c
*.cgo484.c
*.cgo485.c
*.cgo486.c
*.cgo487.c
*.cgo488.c
*.cgo489.c
*.cgo490.c
*.cgo491.c
*.cgo492.c
*.cgo493.c
*.cgo494.c
*.cgo495.c
*.cgo496.c
*.cgo497.c
*.cgo498.c
*.cgo499.c
*.cgo500.c
*.cgo501.c
*.cgo502.c
*.cgo503.c
*.cgo504.c
*.cgo505.c
*.cgo506.c
*.cgo507.c
*.cgo508.c
*.cgo509.c
*.cgo510.c
*.cgo511.c
*.cgo512.c
*.cgo513.c
*.cgo514.c
*.cgo515.c
*.cgo516.c
*.cgo517.c
*.cgo518.c
*.cgo519.c
*.cgo520.c
*.cgo521.c
*.cgo522.c
*.cgo523.c
*.cgo524.c
*.cgo525.c
*.cgo526.c
*.cgo527.c
*.cgo528.c
*.cgo529.c
*.cgo530.c
*.cgo531.c
*.cgo532.c
*.cgo533.c
*.cgo534.c
*.cgo535.c
*.cgo536.c
*.cgo537.c
*.cgo538.c
*.cgo539.c
*.cgo540.c
*.cgo541.c
*.cgo542.c
*.cgo543.c
*.cgo544.c
*.cgo545.c
*.cgo546.c
*.cgo547.c
*.cgo548.c
*.cgo549.c
*.cgo550.c
*.cgo551.c
*.cgo552.c
*.cgo553.c
*.cgo554.c
*.cgo555.c
*.cgo556.c
*.cgo557.c
*.cgo558.c
*.cgo559.c
*.cgo560.c
*.cgo561.c
*.cgo562.c
*.cgo563.c
*.cgo564.c
*.cgo565.c
*.cgo566.c
*.cgo567.c
*.cgo568.c
*.cgo569.c
*.cgo570.c
*.cgo571.c
*.cgo572.c
*.cgo573.c
*.cgo574.c
*.cgo575.c
*.cgo576.c
*.cgo577.c
*.cgo578.c
*.cgo579.c
*.cgo580.c
*.cgo581.c
*.cgo582.c
*.cgo583.c
*.cgo584.c
*.cgo585.c
*.cgo586.c
*.cgo587.c
*.cgo588.c
*.cgo589.c
*.cgo590.c
*.cgo591.c
*.cgo592.c
*.cgo593.c
*.cgo594.c
*.cgo595.c
*.cgo596.c
*.cgo597.c
*.cgo598.c
*.cgo599.c
*.cgo600.c
*.cgo601.c
*.cgo602.c
*.cgo603.c
*.cgo604.c
*.cgo605.c
*.cgo606.c
*.cgo607.c
*.cgo608.c
*.cgo609.c
*.cgo610.c
*.cgo611.c
*.cgo612.c
*.cgo613.c
*.cgo614.c
*.cgo615.c
*.cgo616.c
*.cgo617.c
*.cgo618.c
*.cgo619.c
*.cgo620.c
*.cgo621.c
*.cgo622.c
*.cgo623.c
*.cgo624.c
*.cgo625.c
*.cgo626.c
*.cgo627.c
*.cgo628.c
*.cgo629.c
*.cgo630.c
*.cgo631.c
*.cgo632.c
*.cgo633.c
*.cgo634.c
*.cgo635.c
*.cgo636.c
*.cgo637.c
*.cgo638.c
*.cgo639.c
*.cgo640.c
*.cgo641.c
*.cgo642.c
*.cgo643.c
*.cgo644.c
*.cgo645.c
*.cgo646.c
*.cgo647.c
*.cgo648.c
*.cgo649.c
*.cgo650.c
*.cgo651.c
*.cgo652.c
*.cgo653.c
*.cgo654.c
*.cgo655.c
*.cgo656.c
*.cgo657.c
*.cgo658.c
*.cgo659.c
*.cgo660.c
*.cgo661.c
*.cgo662.c
*.cgo663.c
*.cgo664.c
*.cgo665.c
*.cgo666.c
*.cgo667.c
*.cgo668.c
*.cgo669.c
*.cgo670.c
*.cgo671.c
*.cgo672.c
*.cgo673.c
*.cgo674.c
*.cgo675.c
*.cgo676.c
*.cgo677.c
*.cgo678.c
*.cgo679.c
*.cgo680.c
*.cgo681.c
*.cgo682.c
*.cgo683.c
*.cgo684.c
*.cgo685.c
*.cgo686.c
*.cgo687.c
*.cgo688.c
*.cgo689.c
*.cgo690.c
*.cgo691.c
*.cgo692.c
*.cgo693.c
*.cgo694.c
*.cgo695.c
*.cgo696.c
*.cgo697.c
*.cgo698.c
*.cgo699.c
*.cgo700.c
*.cgo701.c
*.cgo702.c
*.cgo703.c
*.cgo704.c
*.cgo705.c
*.cgo706.c
*.cgo707.c
*.cgo708.c
*.cgo709.c
*.cgo710.c
*.cgo711.c
*.cgo712.c
*.cgo713.c
*.cgo714.c
*.cgo715.c
*.cgo716.c
*.cgo717.c
*.cgo718.c
*.cgo719.c
*.cgo720.c
*.cgo721.c
*.cgo722.c
*.cgo723.c
*.cgo724.c
*.cgo725.c
*.cgo726.c
*.cgo727.c
*.cgo728.c
*.cgo729.c
*.cgo730.c
*.cgo731.c
*.cgo732.c
*.cgo733.c
*.cgo734.c
*.cgo735.c
*.cgo736.c
*.cgo737.c
*.cgo738.c
*.cgo739.c
*.cgo740.c
*.cgo741.c
*.cgo742.c
*.cgo743.c
*.cgo744.c
*.cgo745.c
*.cgo746.c
*.cgo747.c
*.cgo748.c
*.cgo749.c
*.cgo750.c
*.cgo751.c
*.cgo752.c
*.cgo753.c
*.cgo754.c
*.cgo755.c
*.cgo756.c
*.cgo757.c
*.cgo758.c
*.cgo759.c
*.cgo760.c
*.cgo761.c
*.cgo762.c
*.cgo763.c
*.cgo764.c
*.cgo765.c
*.cgo766.c
*.cgo767.c
*.cgo768.c
*.cgo769.c
*.cgo770.c
*.cgo771.c
*.cgo772.c
*.cgo773.c
*.cgo774.c
*.cgo775.c
*.cgo776.c
*.cgo777.c
*.cgo778.c
*.cgo779.c
*.cgo780.c
*.cgo781.c
*.cgo782.c
*.cgo783.c
*.cgo784.c
*.cgo785.c
*.cgo786.c
*.cgo787.c
*.cgo788.c
*.cgo789.c
*.cgo790.c
*.cgo791.c
*.cgo792.c
*.cgo793.c
*.cgo794.c
*.cgo795.c
*.cgo796.c
*.cgo797.c
*.cgo798.c
*.cgo799.c
*.cgo800.c
*.cgo801.c
*.cgo802.c
*.cgo803.c
*.cgo804.c
*.cgo805.c
*.cgo806.c
*.cgo807.c
*.cgo808.c
*.cgo809.c
*.cgo810.c
*.cgo811.c
*.cgo812.c
*.cgo813.c
*.cgo814.c
*.cgo815.c
*.cgo816.c
*.cgo817.c
*.cgo818.c
*.cgo819.c
*.cgo820.c
*.cgo821.c
*.cgo822.c
*.cgo823.c
*.cgo824.c
*.cgo825.c
*.cgo826.c
*.cgo827.c
*.cgo828.c
*.cgo829.c
*.cgo830.c
*.cgo831.c
*.cgo832.c
*.cgo833.c
*.cgo834.c
*.cgo835.c
*.cgo836.c
*.cgo837.c
*.cgo838.c
*.cgo839.c
*.cgo840.c
*.cgo841.c
*.cgo842.c
*.cgo843.c
*.cgo844.c
*.cgo845.c
*.cgo846.c
*.cgo847.c
*.cgo848.c
*.cgo849.c
*.cgo850.c
*.cgo851.c
*.cgo852.c
*.cgo853.c
*.cgo854.c
*.cgo855.c
*.cgo856.c
*.cgo857.c
*.cgo858.c
*.cgo859.c
*.cgo860.c
*.cgo861.c
*.cgo862.c
*.cgo863.c
*.cgo864.c
*.cgo865.c
*.cgo866.c
*.cgo867.c
*.cgo868.c
*.cgo869.c
*.cgo870.c
*.cgo871.c
*.cgo872.c
*.cgo873.c
*.cgo874.c
*.cgo875.c
*.cgo876.c
*.cgo877.c
*.cgo878.c
*.cgo879.c
*.cgo880.c
*.cgo881.c
*.cgo882.c
*.cgo883.c
*.cgo884.c
*.cgo885.c
*.cgo886.c
*.cgo887.c
*.cgo888.c
*.cgo889.c
*.cgo890.c
*.cgo891.c
*.cgo892.c
*.cgo893.c
*.cgo894.c
*.cgo895.c
*.cgo896.c
*.cgo897.c
*.cgo898.c
*.cgo899.c
*.cgo900.c
*.cgo901.c
*.cgo902.c
*.cgo903.c
*.cgo904.c
*.cgo905.c
*.cgo906.c
*.cgo907.c
*.cgo908.c
*.cgo909.c
*.cgo910.c
*.cgo911.c
*.cgo912.c
*.cgo913.c
*.cgo914.c
*.cgo915.c
*.cgo916.c
*.cgo917.c
*.cgo918.c
*.cgo919.c
*.cgo920.c
*.cgo921.c
*.cgo922.c
*.cgo923.c
*.cgo924.c
*.cgo925.c
*.cgo926.c
*.cgo927.c
*.cgo928.c
*.cgo929.c
*.cgo930.c
*.cgo931.c
*.cgo932.c
*.cgo933.c
*.cgo934.c
*.cgo935.c
*.cgo936.c
*.cgo937.c
*.cgo938.c
*.cgo939.c
*.cgo940.c
*.cgo941.c
*.cgo942.c
*.cgo943.c
*.cgo944.c
*.cgo945.c
*.cgo946.c
*.cgo947.c
*.cgo948.c
*.cgo949.c
*.cgo950.c
*.cgo951.c
*.cgo952.c
*.cgo953.c
*.cgo954.c
*.cgo955.c
*.cgo956.c
*.cgo957.c
*.cgo958.c
*.cgo959.c
*.cgo960.c
*.cgo961.c
*.cgo962.c
*.cgo963.c
*.cgo964.c
*.cgo965.c
*.cgo966.c
*.cgo967.c
*.cgo968.c
*.cgo969.c
*.cgo970.c
*.cgo971.c
*.cgo972.c
*.cgo973.c
*.cgo974.c
*.cgo975.c
*.cgo976.c
*.cgo977.c
*.cgo978.c
*.cgo979.c
*.cgo980.c
*.cgo981.c
*.cgo982.c
*.cgo983.c
*.cgo984.c
*.cgo985.c
*.cgo986.c
*.cgo987.c
*.cgo988.c
*.cgo989.c
*.cgo990.c
*.cgo991.c
*.cgo992.c
*.cgo993.c
*.cgo994.c
*.cgo995.c
*.cgo996.c
*.cgo997.c
*.cgo998.c
*.cgo999.c
*.cgo1000.c

# Go workspace file
go.work
go.work.sum

# Go modules
vendor/

# Go build output
bin/
build/
*.test

# Go coverage
*.coverprofile
*.cov
*.coverage

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Misc
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.sublime-workspace
*.sublime-project
*.code-workspace
*.history
*.tgz
*.gz
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.7z
*.rar

# OS generated files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Others
*.pid
*.seed
*.pid.lock
*.lock
*.sqlite
*.sqlite3
*.db
*.db3
*.log
*.bak
*.tmp
*.swp
*.swo
*.swn
*.orig
*.rej
*.patch
*.diff
*.out
*.old
*.save
*.backup
*.cache
*.log
*.pid
*.seed
*.pid.lock
*.lock
*.sqlite
*.sqlite3
*.db
*.db3
*.log
*.bak
*.tmp
*.swp
*.swo
*.swn
*.orig
*.rej
*.patch
*.diff
*.out
*.old
*.save
*.backup
*.cache
